<div class="sider">
 <div class="image">
  <img
      nz-image
      width="200px"
      height="200px"
      src="./assets/images/春江潮水.png"
      alt=""
    />
 </div>
 <div class="account_name">
  {{data.name}}
 </div>
 <div class="menu">
  <div *ngFor="let menu of data.menus" [routerLink]="menu.route" class="menu-item">
    {{menu.title}}
  </div>
 </div>
 <div class="friend_link">
  <div *ngFor="let link of data.friends" >
    <a [href]="link.url">
      <span nz-icon [nzType]="link.icon"  nzTheme="outline"></span>
    </a>
  </div>
 </div>

</div>