:host {
  text-align: center;
}

nz-header,
nz-footer {
  background: #7dbcea;
}

nz-footer {
  line-height: 1.5;
}

nz-sider {
  background: #3ba0e9;
  color: red;
  line-height: 8em;
}

nz-content {
  background: rgb(184 218 243);
  min-height: 8em;
  line-height: 8em;
  width: 100%;
}

nz-layout {
  margin-bottom: 48px;
}

nz-layout nz-layout,
nz-layout:last-child {
  margin: 0;
}
.content{
  display: flex;
  padding: 1em 10em;
  border-radius: 0.5em;
  gap: 1em;
}
.sider{
  width: 20%;
  background-color: cornsilk;
  border-radius: 0.5em;
}
.ant-layout-content{
  width: 80%;
  border-radius: 0.5em;
}