:root {
    --ui-01: #ffffff;
    --ui-02: #f5f5f5;
    --ui-03: #fafafa;
    --neutral-01: #e8ebf0;
    --neutral-02: #d6dbe5;
    --neutral-03: #696969;
    --neutral-04: #afb9cd;
    --neutral-05: #222e52;
    --primary: rgb(234, 248, 234);
    --primary-01: rgb(228, 226, 226);
    --primary-02: rgb(0, 0, 0);
  }
body{
    font-size: 1em;
}